.HomePage-links {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.HomePage-links .button-div {
	border-radius: 5px;
	background: #86c5d9;
	width: 250px;
	margin: 3px auto;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.HomePage-links .button-div a {
	text-decoration: none;
}
.HomePage-links .button-div:hover {
	background: #4c889b;
}
