.NavBar-links {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	a {
		display: flex;
		align-items: center;
		height: 50px;
		text-decoration: none;
	}
}

.search-container {
	border: 3px solid red;
	display: flex;
	flex-direction: row;
	height: 600px;
}
.search-menu {
	border: 1px dashed yellow;
	position: relative;
	text-align: center;
	height: auto;
}
.search-body {
	border: 1px dashed blue;
	width: 440px;
	margin-left: 62px;
	height: auto;
}
.title {
	border: 1px solid green;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
	min-width: 240px;
	overflow: auto;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

//landing page
.Landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	height: 100vh;
	.button-div {
		padding: 0 25%;
		border-radius: 5px;
		background: #86c5d9;
		margin: 3px auto;
		height: 35px;
		a {
			text-decoration: none;
		}
	}
}
//footer
.footer-wrapper {
	padding: 0 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	.footer-summary {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 45%;
	}
	.footer-links {
		width: 45%;
	}
}
