.login-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.login-field {
	width: 300px;
	margin: 5px auto;
	padding-top: 20px;
}
.link a {
	text-decoration: none;
}

input {
	width: 230px;
	height: 40px;
	border-radius: 3px;
	font-size: 1.05rem;
}
.button {
	padding: 3%;
	width: 140px;
	margin: 20px auto;
	cursor: pointer;
	font-size: 1.05rem;
	border-radius: 2px;
}
.button:hover {
	background-color: rgb(0, 135, 197);
}
